!!! XML
%rss{:version => "2.0", "xmlns:atom" => "http://www.w3.org/2005/Atom"}
  %channel
    %title
      @title
    %link http://thistime.imeuble.info
    %description Some photos taken at various place, at this time.
    <atom:link href="http://thistime.imeuble.info/rss" rel="self" type="application/rss+xml" />
    - for picture in @pictures do  
      %item
        %title 
          = picture.title
        %link
          = picture.url
        %description
          %img{:src => picture.source, :alt => picture.title, :title => picture.title}
          - if picture.description
            = picture.description
          %p
            By
            = picture.author
            \ - 
            = picture.date
